.more_cont {
  height: 160px;
  padding: 20px 10px;
  transition: all 0.2s;
  color: #eee;
  overflow: auto;
}


.more_cont.hide_height {
  height: 0px;
  padding: 0px 10px;
}

.more_icon {
  font-size: 40px;
  color: #2880e6;
}

.emoji_wrapper {
  position: relative;
}

.clear_btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px 15px;
  background-color: #fff;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.more_cont.hide_height .clear_btn {
  position: absolute;
}

.send_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #fff;
  padding: 0 15px;
}

.send_wrapper .msg_input {
  flex: 1;
  border: 1px solid #666;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}

.send_input .iconfont {
  font-size: 30px;
}

.send_wrapper .emoji_btn {
  margin-left: 10px;
  margin-right: 10px;
}

.send_wrapper .am-button {
  width: 60px;
}

.send_wrapper .am-grid .am-flexbox {
  background-color: transparent;
}

.grid_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.file_input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.bg_w {
  background-color: #fff;
}

.more_item {
  font-size: 50px;
  color: #108ee9;
}

.emoji_item {
  width: 80%;
  height: 80%;
}