.my_wrapper {
  height: 100%;
}

.my_main {
  height: calc(100% - 50px);
  box-sizing: border-box;
  padding: 40px 0;
}

.my_main .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 40px;
}